<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Bulk Upload</h5>
        <a class="btn btn-success btn-sm" href="{{imageUrl}}bulk_product.xlsx" download>Download Sample Excel</a>
      </div>
      <div class="modal-body">
        <form #bulkproduct="ngForm">
            <div class="row">
                <div class="col-md-6" *ngIf="userType=='ADMIN'">
                    <label for="">Vendor</label>
                    <select name="vendorId" [(ngModel)]="formData.vendorId" class="form-control">
                      <option value="undefined">Select Vendor</option>
                      <option *ngFor="let vendor of vendorList" value="{{vendor._id}}">{{vendor.name}}</option>
                    </select>
              </div>
              <div class="col-md-6">
                <label for="">Category</label>
                <select name="categoryId" [(ngModel)]="formData.categoryId" class="form-control">
                    <option value="undefined">Select Category</option>
                    <option *ngFor="let cat of categoryList" value="{{cat._id}}">{{cat.name}}</option>
                </select>
          </div>
                <div class="col-md-6">
                    <label for="">Excel File (.xlsx)</label>
                    <input type="file" name="product_image" (change)="getBulkFile($event)">
              </div>
            </div>
            <div class="clearfix"></div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="saveData(formData)">Submit</button>
        <button type="button" id="closeBtn" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="main-content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header card-header-danger">
              <h4 class="card-title d-lg-inline">Product</h4>
              <a routerLink="/add-product" class="btn btn-primary btn-sm float-right"
                >Add New Product</a
              >
              <a class="btn btn-primary btn-sm float-right" data-toggle="modal" data-target="#exampleModal"
              >Add Bulk Product</a
            >
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table class="table">
                  <thead class="text-primary">
                    <th>Sku Id</th>
                    <th>Category</th>
                    <th>Vendor</th>
                    <th>Name</th>
                    <th>description</th>
                    <th>Status</th>
                    <th>Register Date</th>
                    <th>Action</th>
                  </thead>
                  <tbody>
                    <tr>
                      <td></td>
                      <td>
                     <select class="form-control" name="catId" (change)="getCatId($event)">
                      <option value="undefined">Select</option>
                     <option *ngFor="let cat of categoryList" value="{{cat._id}}">{{cat.name}}</option>
                     </select>
                      </td>
                      <td *ngIf="userType !='ADMIN'">
                        
                      </td>
                      <td *ngIf="userType=='ADMIN'">
                        <select class="form-control" name="catId" (change)="getVenId($event)">
                      <option value="undefined">Select</option>
                          <option *ngFor="let ven of vendorList" value="{{ven._id}}">{{ven.name}}</option>
                          </select>
                      </td>
                      <td>
                        <input type="search" class="form-control" placeholder="search name" (keyup.enter)="searchName($event)">
                      </td>
                    </tr>
                    <tr
                      *ngFor="
                        let pro of productList
                          | paginate
                            : {
                                itemsPerPage: 10,
                                currentPage: p,
                                totalItems: total
                              }
                      "
                    >
                  <td>{{pro?.sku}}</td>
                  <td>{{pro?.categoryId?.name}}</td>
                  <td>{{pro?.vendorId?.name}}</td>
                  <td>{{pro?.name}}</td>
                  <td>{{pro?.description}}</td>
                      <td>
                        <select name="userType" [(ngModel)]="pro.isActive" (change)="setStatus($event,pro._id)" class="form-control">
                          <option value="undefined">Select</option>
                          <option value="true">Active</option>
                          <option value="false">Inactive</option>
                        </select>
                      </td>
                      <td>
                        {{pro?.created | date:'MMM dd, yyyy' }}
                      </td>
                      <td>
                        <a
                        routerLink="/add-product/{{ pro?._id }}"
                          class="btn btn-primary btn-sm"
                          >Edit</a
                        >
                        <a
                          href="javascript:void(0)"
                          (click)="deleteProduct(pro._id)"
                          class="btn btn-danger btn-sm"
                          >Delete</a
                        >
                      </td>
                    </tr>
                  </tbody>
                  <pagination-controls
                    (pageChange)="onTableDataChange($event)"
                  ></pagination-controls>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  